body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  background: #333e5a;
}

a {
  color: #fff;
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
}

main {
  min-height: 80vh;
  background: #fff;
}
main .controls {
  text-align: center;
  padding: 0.5em 0;
  background: #333e5a;
  color: #fff;
}
main canvas {
  padding: 20px;
  margin: 0 auto;
  display: block;
}
footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
}
.volume{
  height: 15px;
  width: 10px;
  background-color: yellowgreen;
  transition: width 0.05s, background-color 0.1s;
  max-width: 300px;
}
.vc{
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
}
.volumeCircle{
  height: 100px;
  width: 100px;
  background-color: yellowgreen;
  transition: width 0.05s, height 0.05s;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  /* position: fixed; */
  margin: auto;
}